@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<style>
    body {
        font-family: Poppins;
        background-color: #e1fefc;
        margin: 0;
        padding: 0;
    }

    .left h1 {
        font-weight: 700;
        font-size: 60px;
    }

    .banner {
        padding: 0px 30px;
        border-radius: 15px;
        box-shadow: 0px 10px 26px -13px rgba(0,0,0,0.1);
    }

    .left p {
        font-size: 25px;
        font-weight: 500;
    }

    
</style>

<div style="padding-top: 100px">
    <div class="banner" style="display: flex; flex-direction: row; gap:50px">
        <div class="left" style="align-items: center; margin: auto; width: 50%">
            <h1>Find Your <i style="color: #09867e ">New Job</i> and Build Your<i style="color: #09867e"> Career</i></h1>
            <p>Discover exciting opportunities and take the next step in your career journey.</p>
        </div>
        <div class="right">
            <img src="https://i.pinimg.com/originals/a4/9e/18/a49e18a6c059795a878b6b0366e7211b.png" />
        </div>
    </div>
</div>

<footer style="background-color: #09867e; color: #fff; padding-left:50px; padding-right:50px; padding-top:30px;   ">
    <div style="display: flex; justify-content: space-between; flex-wrap: wrap;">
        <div style="width: 30%;">
            <h3 style="font-weight: 700; font-size: 24px; margin-bottom: 20px;">Vission</h3>
            <p style="font-size: 16px; line-height: 1.5;">Our job portal is dedicated to helping professionals find exciting opportunities and build their careers. We connect talented individuals with top employers, providing a seamless job search experience.</p>
        </div>
        <div style="width: 20%;">
            <h3 style="font-weight: 700; font-size: 24px; margin-bottom: 20px;">Quick Links</h3>
            <ul style="list-style-type: none; padding: 0; margin: 0;">
                <li><a href="#" style="color: #fff; text-decoration: none; font-size: 16px;">Home</a></li>
                <li><a href="#" style="color: #fff; text-decoration: none; font-size: 16px;">Jobs</a></li>
                <li><a href="#" style="color: #fff; text-decoration: none; font-size: 16px;">Companies</a></li>
                <li><a href="#" style="color: #fff; text-decoration: none; font-size: 16px;">Contact</a></li>
            </ul>
        </div>
        <div style="width: 30%;">
            <h3 style="font-weight: 700; font-size: 24px; margin-bottom: 20px;">Contact Us</h3>
            <p style="font-size: 16px; margin-bottom: 10px;"><i class="fa fa-map-marker" style="margin-right: 10px;"></i> Sector 21, Vasant Vihar, Noida</p>
            <p style="font-size: 16px; margin-bottom: 10px;"><i class="fa fa-phone" style="margin-right: 10px;"></i> +92 9999-555-7777</p>
            <p style="font-size: 16px; margin-bottom: 10px;"><i class="fa fa-envelope" style="margin-right: 10px;"></i> info@jobdhoondo.com</p>
        </div>
    </div>
    <hr style="border-color: #fff; opacity: 0.3; margin: 30px 0;">
    <div style="text-align: center;">

    </div>
</footer>

