
@{
    ViewBag.Title = "Review";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>

    figure.snip1390 {
        font-family: 'Roboto', Arial, sans-serif;
        position: relative;
        overflow: hidden;
        margin: 10px;
        min-width: 230px;
        max-width: 315px;
        width: 100%;
        color: #000000;
        text-align: center;
        font-size: 16px;
        background-color: #09867e;
        padding: 30px;
        background-image: linear-gradient(-25deg, rgba(0, 0, 0, 0.2) 0%, rgba(255, 255, 255, 0.1) 100%);
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border-radius: 13px;
    }
figure.snip1390 *,
figure.snip1390 *:before,
figure.snip1390 *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
figure.snip1390 figcaption {
  width: 100%;
}
figure.snip1390 h2,
figure.snip1390 h4,
figure.snip1390 blockquote {
  margin: 0;
}
figure.snip1390 h2,
figure.snip1390 h4 {
  font-weight: 300;
}
figure.snip1390 h2 {
  color: #ffffff;
}
figure.snip1390 h4 {
  color: #a6a6a6;
}
figure.snip1390 blockquote {
  font-size: 1em;
  padding: 45px 20px 40px 50px;
  margin-top: 30px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: inset -1.4px -1.4px 2px rgba(0, 0, 0, 0.3);
  text-align: left;
  position: relative;
}
figure.snip1390 blockquote:before {
  font-family: 'FontAwesome';
  content: "\201C";
  position: absolute;
  font-size: 70px;
  opacity: 0.25;
  font-style: normal;
  top: 0px;
  left: 20px;
}
figure.snip1390 .profile {
  width: 100px;
  border-radius: 50%;
  display: inline-block;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.4);
  margin-bottom: 10px;
  border: solid 5px #A6A57A;
}

</style>

<div style="padding-top: 100px; display: flex; flex-direction: row; justify-content: center; gap: 50px;">
    <figure class="snip1390">
        <img src="https://i.pinimg.com/originals/83/60/f6/8360f6e8e6167d545b0c34de7490cc1e.jpg" alt="profile-sample3" class="profile" />
        <figcaption>
            <h2>Aryan Singh</h2>
            <h4>UX Designer</h4>
            <blockquote> I can confidently say it offers a seamless user experience, effectively connecting talented individuals with exceptional opportunities in the field.</blockquote>
        </figcaption>
    </figure>
    <figure class="snip1390 hover">
        <img src="https://i.pinimg.com/736x/a3/7b/e5/a37be5b9709175f1527761157463ec38.jpg" alt="profile-sample5" class="profile" />
        <figcaption>
            <h2>Sumit Singh</h2>
            <h4>VFX Editor</h4>
            <blockquote>Thanks to your job portal, I found an incredible opportunity that has allowed me to showcase my VFX skills on exciting projects, making a real impact in the industry. </blockquote>
        </figcaption>
    </figure>
    <figure class="snip1390">
        <img src="https://www.algindia.com/wp-content/uploads/2022/08/sucharitha_profile_img.jpeg" alt="profile-sample6" class="profile" />
        <figcaption>
            <h2>Isha Agarwal</h2>
            <h4>Accountant</h4>
            <blockquote>Using your job portal, I secured a fantastic accounting position that aligns perfectly with my career goals, allowing me to apply my expertise in a dynamic and supportive environment.</blockquote>
        </figcaption>
    </figure>
</div>

